.main--header {
	@extend %chronicle-semibold-font;
	@include font-size(129px, 48px);
	font-weight: normal;
	letter-spacing: 5px;
	padding: 30px 0 0 30px;
	span {
		@include font-size(38px, 36px);
		white-space: nowrap;
		margin-left: -30px;
	}
	@media (max-width: $BREAKPOINT_L) {
		@include font-size(90px, 33px);
		padding: 25px 0 0 25px;
		span {
			@include font-size(26px, 24px);
			margin-left: -25px;
		}
	}
}

// Titular secciones
.highlight--text {
	@extend %chronicle-semibold-font;
	@include font-size(53px, 62px);
	font-weight: normal;
}

.highlight-medium-text {
	@extend %chronicle-semibold-font;
	@include font-size(45px, 45px);
	font-weight: normal;
	@media (max-width: $BREAKPOINT_L) {
		@include font-size(35px, 32px);
	}
	@media (max-width: $BREAKPOINT_M) {
		@include font-size(25px, 22px);
	}
}

.highlight-small-text {
	@extend %chronicle-semibold-font;
	@include font-size(25px, 1em);
	font-weight: normal;
	@media (max-width: $BREAKPOINT_L) {
		@include font-size(20px, 1em);
	}
	@media (max-width: $BREAKPOINT_M) {
		@include font-size(18px, 1em);
	}
	&.roman {
		@extend %chronicle-roman-font;
	}
}

// Texto para cabeceras en pre-menus
.navigation--header {
	@extend %chronicle-semibold-font;
	@include font-size(70px, 60px);
	font-weight: normal;

	span.pre {
		@extend %chronicle-roman-font;
		@include font-size(24px, 1.5em);
		display: block;
		transform: translateX(-25px);
		&.lower {
			@include font-size(24px, 0em);
		}
	}

	&.small {
		@include font-size(55px, 45px);
	}

	@media (max-width: $BREAKPOINT_L) {
		@include font-size(50px, 42px);
		span.pre {
			@include font-size(17px, 1.5em);
			transform: translateX(-20px);
			&.lower {
				@include font-size(17px, 0em);
			}
		}
		&.small {
			@include font-size(35px, 30px);
		}
	}
	@media (max-width: $BREAKPOINT_M) {
		@include font-size(40px, 32px);
		span.pre {
			@include font-size(15px, 25px);
			transform: translateX(-17px);
			&.lower {
				@include font-size(15px, 0em);
			}
		}
	}
}

.feel-navigation-header {
	@extend %chronicle-semibold-font;
	@include font-size(89px, 74px);
	font-weight: normal;
	letter-spacing: 2px;
	text-align: center;
	span.section {
		display: block;
		@include font-size(28px, 33px);
	}

	&.small {
		@include font-size(60px, 50px);
		white-space: nowrap;
	}
	@media (max-width: $BREAKPOINT_L) {
		@include font-size(70px, 58px);
		span.section {
			@include font-size(22px, 25px);
		}
		&.small {
			@include font-size(45px, 35px);
		}
	}
	@media (max-width: $BREAKPOINT_M) {
		@include font-size(50px, 40px);
		span.section {
			@include font-size(14px, 18px);
		}
		&.small {
			@include font-size(30px, 25px);
		}
	}
}

.body-font {
	@extend %chronicle-roman-font;
	@include font-size(22px, 26px);
	font-weight: normal;
}

.body-font-bold {
	@extend %chronicle-bold-font;
	@include font-size(22px, 26px);
	font-weight: normal;
}

.body-font-italic {
	@extend %chronicle-italic-font;
	@include font-size(22px, 26px);
	font-weight: normal;
}

// Texto para pie de foto en grid listado de hoteles
.caption {
	@extend %chronicle-semibold-font;
	@include font-size(16px, 20px);
	&.italic {
		@extend %chronicle-italic-font;
	}
}

// Video Gallery names
.label-font {
	@extend %gotham-book-font;
	@include font-size(15px, 25px);
	@media (max-width: $BREAKPOINT_M) {
		@include font-size(12px, 20px);
	}
}

// Blog post body font
.blog-body-font {
	@extend %gotham-book-font;
	@include font-size(16px, 20px);
	text-align: justify;
	font-weight: normal;
}

// Texto para block buttons
.button-label {
	@extend %gotham-book-font;
	@include font-size(14px, 10px);
	text-transform: uppercase;
}
