#nh-collection {

	#exp-gastro {
		position: relative;
		.main-section {
			position: relative;
			width: 100%;
			height: 100%;

			.intro-experience {

				@include absoluteAll;
				@include fadeHex($BLACK, 0.15);
				z-index: 3;

				.intro-wrapper {
					position: relative;
					width: 100%;
					height: 100%;

					.info-container {
						@include absoluteTL(50%, 50%);
						transform: translate(-50%, -50%);
						text-align: center;
						white-space: nowrap;
						color: $WHITE;

						.experience-icon {
							display: block;
							font-size: 44px;
						}
						.margin-bottom {
							margin-bottom: 25px;
						}
					}
				}

			}

			.kitchen-navigation {
				width: 100%;
				height: 100%;
				position: relative;
				overflow: hidden;

				.navigation-wrapper {
					position: relative;
					height: 100%;

					.panoramic {
						width: auto;
						min-height: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 1;

					}

					.drag-button {
						@include absoluteTL(50%, 50%);
							z-index: 2;
							transform: translate(-50%,-50%);
					}

					.photo-item {
						opacity: 0;
						display: none;
						&.item1 {
							@include absoluteTL(50%, 15%);
							z-index: 2;
						}
						&.item2 {
							@include absoluteTL(50%, 50%);
							z-index: 2;
						}
						&.item3 {
							@include absoluteTL(50%, 75%);
							z-index: 2;
						}
					}
				}

			}


		}

	}


}