#nh-collection {

	#feels {
		position: relative;
		.main-section {
			position: relative;
			width: 100%;
			height: calc(100% - 258px);

			.section-navigation {
				width: 100%;
				height: 100%;
				position: relative;
				overflow: hidden;
				// display: none;
				.slider-wrapper,
				.slick-track,
				.slick-list {
					width: 100%;
					height: 100%;

					li {
						display: block;
						float: left;
						height: 100%;
						width: 100px;
						cursor: pointer;
					}
				}
			}
			.feel-beyond-section {
				position: absolute;
				z-index: -1;
				// z-index: 5;
				width: 100%;
				height: 100%;
				top: 20px;
				left: 0;
				bottom: 0;
				right: 0;
				background-color: $BLACK;
				opacity: 0;

				.video-list {
					width: 100%;
					height: 100%;
					position: relative;
					.slick-list {
						position: relative;
						left: -50px;
					}
					.slider-wrapper,
					.slick-track,
					.slick-list {
						width: 100%;
						height: 100%;
						li {
							display: block;
							float: left;
							height: 100%;
							width: 100px;
							cursor: pointer;
							.list-item {
								width: 100%;
								height: 50%;
							}
						}
					}
				}

			}

		}



	}

}