#nh-collection {

	#homepage {
		.homepage-mainmenu {
			float: left;
			.homemenu-wrapper {
				position: relative;
				width: 100%;
				height: 100%;
				.col {
					position: relative;
    			float: left;
					width: 33.3%;
					height: 100%;

					.section-item {
						display: block;
						position: relative;
						width: 100%;
						height: 50%;

						.brand-wrapper {
							color: $NH_RED_COLOR;
							text-align: center;
							position: absolute;
							width: 100%;
							top: 45%;
							left: 0;
							transform: translateY(-50%);

							.nhbrand-wrapper {
								width: 80%;
								max-width: 210px;
								margin: 0 auto 30px;
								@include aspect-ratio(210, 103)
							}
						}
					}
				}
			}

		}
	}

}