#nh-collection {

	.main-menu {
		position: absolute;
		top: 0;
		left: 35px;
		width: 40%;
		min-width: 480px;
		z-index: 99;
		background-color: rgba(0,0,0,0.5);
		transform: translateX(-100%);
		transition: all $BTN_HOVER_TRANSITION ease;
		overflow: hidden;
		&.open {
			left: 0;
			transform: translateX(0%);
		}

		.main-menu-wrapper {
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}

		.go-home {
			display: block;
			height: 100%;
			width: 35px;
			position: absolute;
			left: 0;
			top: 0;

			span.icon-home-icon {
				display: block;
				position: absolute;
				font-size: 14px;
				top: 50%;
				left: 50%;
				margin: -7px 0 0 -7px;
				color: $NH_RED_COLOR;
				transition: color $BTN_HOVER_TRANSITION ease;
				z-index: 1;
			}
			&:hover {
				span.icon-home-icon {
					color: $WHITE;
				}
			}
		}

		// Sections container
		.section-wrapper {
			width: 100%;
			height: 100%;
			padding: 0 35px;
			overflow: hidden;
			overflow-y: auto;
			@media (max-height: 760px) {
				padding: 0 20px 0 35px; // Hide scroll bar
			}

			.section-item {
				display: block;
				position: relative;
				width: 100%;
				height: 20%;
				background-color: #FFF;
				@media (max-height: 760px) {
					height: 25%;
				}
				@media (max-height: 600px) {
					padding-bottom: 40%;
				}

				.overlay-element {
					position: absolute;
				}
			}
		}
	}
}