#nh-collection {

	.main-menu {
		float: left;
		position: relative;
		width: 35px;
		// background-color: $NH_RED_COLOR;

		.main-menu-bar {
			height: 100%;
			width: 100%;

			.hamburger-icon {
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -6px 0 0 -8px;
			}

			&:hover {
				.hamburger-icon {
					.line-1,
					.line-2,
					.line-3,
					.line-4 {
						&:after {
							left: 0;
						}
					}
				}
			}
		}
	}
}