#nh-styleguide {

	padding-bottom: 150px;

	.content-wrapper {
		width: 80%;
		min-width: 900px;
		margin: 0 auto;
		// background-color: #CCC;
		text-align: center;

		.wrapper {
			padding: 25px 10%;

			hr.separator {
				width: 250px;
			}

			p {
				margin: 10px 0;
			}

			.hamburger-icon {
				margin: 25px auto 0;
				.line {
					background: $NH_RED_COLOR;
				}
			}


			// Style wrapper rollover
			.rollover-wrapper-styleguide {
				position: relative;
				width: 600px;
				// max-width: 640px;
				height: 500px;
				// padding-bottom: 84.25%;
				margin: 15px 0;
			}

			.hotel-item {
				margin: 20px auto;
			}
		}
	}
}