#nh-collection {

	#voyages {
		position: relative;
		.main-section {
			position: relative;
			width: 100%;
			height: 100%;
			background-color: $NH_BG_COLOR;
			background-image: url("#{$url_prefix_full}/assets/images/nh_background.jpg");
			background-size: contain;
			background-position: right center;
			background-repeat: no-repeat;

			.section-navigation {
				width: 100%;
				height: 100%;
				position: relative;
				overflow: hidden;
				.arrow-right-way {
					display: none;
					position: absolute;
					top: 50%;
					right: 15px;
					z-index: 1;
					font-size: 1.5em;
					color: $NH_RED_COLOR;
					transform: translateY(-50%);
					animation: scrollarrownavigation 2s infinite;
				}
				&.true {
					.slick-list {
						position: relative;
						left: -50px;
					}
					.arrow-right-way {
						display: block;
					}

				}

				.slider-wrapper,
				.slick-track,
				.slick-list {
					width: 100%;
					height: 100%;

					li.feel-item {
						display: block;
						float: left;
						height: 100%;
						width: 100px;
						cursor: pointer;
						.post-item {
							width: 100%;
							height: 50%;
							.voyages-info {
								.post-title {
									margin: 10px 0 15px;
									@media (max-width: $BREAKPOINT_L) {
										margin: 5px 0 10px;
									}
								}
							}

						}
						&.blog-info {
							cursor: inherit;
							background-color: $WHITE;
							.section-hero,
							.section-tags {
								position: relative;
								width: 100%;
								height: 50%;
								.container {
									position: absolute;
									top: 50%;
									left: 50%;
									transform: translate(-50%,-50%);
								}
							}
							.section-hero {
								color: $NH_RED_COLOR;

							}
							.section-tags {
								background-color: #f9f9f9;
								color: $NH_RED_COLOR;
								.container {
									width: 100%;
									max-width: 450px;
									text-align: center;
									padding: 0 10%;
									.tag-list {
										width: 100%;
										margin-top: 30px;
										.tag-item {
											display: inline-block;
											margin: 5px 5px;
											.tag-button {
												display: block;
											}
										}
									}
								}
							}
						}
					}
				}
			}

		}



	}

	@keyframes scrollarrownavigation {
	  0%   { right: 15px; }
	  50%   { right: 5px; }
	  100% { right: 15px; }
	}

}